.breadcrumb {
  margin-top: 20px;
}

.wrapper {
  margin-top: 65px;
}

#footer {
  margin-top: 35px;
}

.no-account {
  margin-top: 20px;
}

.text-facebook {
  margin-top: 145px;
}

.text-facebook-conex {
  margin-top: 42px;
}
